@model lastTime.Models.About

@{
    ViewBag.Title = "About";
}
<h2>About Sooners Football</h2>
<h3>About the University of OKlahoma Football</h3>

<p>OU Football is coached by </b>@Model.HeadCoach</b>. The Sooners have a bowl record of <b>@Model.BowlRecord</b> and have <b>@Model.NationalTitles</b> titles in their history.</p>
